* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit";
    background-color: #73D2DE;
}

header {
    background-color: #D81159;
    padding: 0 20px 0 20px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 40px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 20px;
    list-style: none;
}

.product-picture {
    height: 700px;
    background-image: url("https://i.ytimg.com/vi/S6sqR5zh-cc/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
}

.degraded {
    color: white;
    font-size: 60px;
    font-weight: 500;
    font-family: "Outfit";
    height: 100%;
    background-image: linear-gradient(transparent 15%, black);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.product-name {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    font-family: "Outfit";
    margin: 10px;
    padding: 10px 16px 10px 16px;
    border-radius: 40px;
    cursor: pointer;
}

.info button {
    border: 4px solid #73D2DE;
    color: #73D2DE;
    background-color: transparent;
}

.buy button{
    border: 2px solid #FBB13C;
    background-color: #FBB13C;
    color: white;
}

section {
    border-radius: 0 0 40px 40px ;
    margin: 0 220px 0 220px ;
    font-size: x-large;
    text-align: justify;
    background-color: white;
}

.description {
    padding: 100px;
}

.description ul li {
    display: block;
    padding: 20px;
}

.description ul li img {
    width: 300px;
    padding: 20px;
}

footer {
    text-align: end;
    color: #D81159;
    margin: 40px 20% 40px 20%;
}

ul {
    padding: 10px 80px 10px 80px;
}

a {
    text-decoration: none;
    color: white;
}

footer a {
    color: black;
}

a:hover {
    color: goldenrod;
}